@page "/playcodele";
@inject HttpClient Http
@using CodeleLogic

<h3>Play Codele</h3>

<p>Guess the 5 letter, coding-related word in 5 tries or less!</p>

<br>

<p><strong>Attempt #: @attempts</strong></p>

